{% block _payment_methods_multi_safepay_widget %}
    {% set h1_msp_container = name ~ '--container' %}

   <div id="{{ h1_msp_container }}">
       {{
           form_widget(
               view.options.formView,
               {
                   container: h1_msp_container,
                   class_prefix: class_prefix,
                   options: view.options,
                   paymentMethod: name,
               }
           )
       }}
   </div>

{% endblock %}
