{% block _payment_methods_multi_safepay_widget %}
    <div class="{{ class_prefix }}-form__payment-methods">
        <table class="grid">
            <tr>
                <td>{{ 'h1.multi_safepay.payment_method_message'|trans }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
